[AccountData]
investorId = yourid
authKey = YourAPIKEY
reserveCash = 0.0
investAmount = 25.00
portfolioName = A Loans
buyTradedNotes = 1
buyLoans = 0
maxNoteAmount = 75

[LoanCriteria]
grade = A
term = 19
delinq2Yrs = 0

[TradedNotesCriteria]
isNeverLate = "false"
loanStatus = "SomeStatus"
creditScoreTrend = "DOWN"
remainingPayments = 99
markupOrDiscount = 2
